/*MAIN*/

body {
  font-size: 20pt;
  line-height: 1em;
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  background: #0a0c0e;
  background: linear-gradient(0deg, rgb(105, 91, 60) 0%, rgb(10, 12, 14) 100%);
  color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

button {
  font-size: 18pt;
  font-weight: bold;
  background: none;
  border: none;
}

#header {
  height: 15%;
  justify-content: space-around;
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 36px;
}

.subtitle {
}

#container-weapons {
  background: #0a0c0e80;
  box-shadow: 0 0 5px 10px #0a0c0e80;
  padding: 25px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

#container-weapons button {
  background: linear-gradient(0deg, rgb(105, 91, 60,0.15) 0%, rgb(10, 12, 14,0) 50%);
}

#container-results {
  visibility: visible;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#results {
  background: #00000080;
  box-shadow: 0 0 10px 15px #00000080;
  font-size: 56pt;
  color: rgb(240, 196, 0);
  width: 100vw;
  padding: 15px;
}

#replay {
  background: #0a0c0e80;
  color: #ddd;
  border-top: 2px solid #9e895a80;
  border-bottom: 2px solid #9e895a80;
  width: 15vw;
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
}

.color-red {
  color: red;
}
.color-blue {
  color: blue;
}
.color-green {
  color: green;
}

.sword {
  display: inline-block;
  width: 128px;
  height: 128px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("./img/sword.png");
}

.axe {
  display: inline-block;
  width: 128px;
  height: 128px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("./img/axe.png");
}

.spear {
  display: inline-block;
  width: 128px;
  height: 128px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("./img/spear.png");
}

.skull {
  display: inline-block;
  width: 128px;
  height: 128px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("./img/skull.png");
}
